<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for student in students %}
        <h1>{{ student.name}}</h1>
        {% if student.Score > 90 %}
        <p>congratulations</p>
        {% elif student.Score >= 76 and student.Score <= 90 %}
        <p>Very Good</p>
        {% else %}
        <p>Maaf, anda belum lulus</p>
        {% endif %}
    {% endfor %}
</body>
</html>